@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', cursive;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#titulo {
    display: flex;
    justify-content: center;
}
header{
    z-index: 100;
}
#mainDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#inicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}